@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
/* CSS Document */

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 62.5%;
	margin: 0px;
	padding: 0;
}

html {
  font-family:'Source Sans Pro', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
@-ms-viewport {
  width: device-width;
}

/*---------------------------------------- HEADER ----------------------------------------*/


/*LOGOTIPOS*/
.top {
	/* height: 6rem; */
	background: #fff;
	border-bottom: 3px solid #ececec;
	/* display: flex;
	justify-content: space-between; */
	/* align-items: center; */
	padding: 0 2rem;
	box-shadow: 0px 0px 7px #E6E6E6;
	padding: 3rem;
	/* z-index: 100; */
}

.logos {
	display: flex;
	/* justify-content: left;
	align-items: center;
	width: 80%; */
}

.cdmx {
	width: 100%;
	height: auto;
	float: left;
}

@media (min-width: 576px) { 
	.cdmx{
		width: 100%;
		height: auto;
	}
 }

 @media (min-width: 960px) { 
	.cdmx{
		width: 60%;
		height: auto;
	}
 }

.saf {
	width: 10%;
	height: auto;
	float: left;
	padding-left: 5px;
}

/*ICONOS*/
.iconos {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
	font-size: 1.0rem;
	font-weight: normal;
	display: flex;
}

/*círculo*/
.perfil {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: -10px;
	/* padding: -10px; */
	box-shadow: 0px 0px 7px #bdbdbd;
	color: #7ACB61;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.6rem;
	font-weight: 700;
}

span .perfil> h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	color: #7ACB61;
	font-weight: 700;
	margin: 10px;
}

/*ICONOS HEADER*/
.Hd-alerta span {
	padding: 10px 10px 10px 10px;
	margin: 10px 30px 0px 30px;
	width: 35%;
	height: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-right: 1px solid #E6E6E6;
	color: #6F7271;
}

/*alerta*/
.Hd-alerta img {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 7px #E6E6E6;
}

.Hd-alerta p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 9px;
	font-size: 0.9rem;
	font-weight: 700;
	padding: 13px 35px 0px 0px;
	text-align: center;
	color: #98989A;
}

/*alerta submenu*/

.alerta-mensajes {
	width: 100%;
	margin: 15px 0 0 0;
	background-color: transparent;
}

.alerta-mensajes ul li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 9px;
	font-size: 0.9rem;
	font-weight: normal;
	text-align: left;
	color: #98989A;
	display: inline-block;
	padding: 15px 10px;
	position: relative;
	border: 0;
	width: 100%;
	z-index: 500;
}

.alerta-mensajes ul li ul {
	display: none;
}

.alerta-mensajes ul li:hover {
	cursor: pointer;
	background-color: transparent;
	width: 120%;
}

.alerta-mensajes ul li:hover ul {
	/*caja menu alerta*/
	display: block;
	margin-top: 15px;
	left: 0;
	position: absolute;
	box-shadow: 0px 0px 7px #E6E6E6;
	padding: 10px 55px 10px 10px;
	/*padding caja menu*/
	background-color: #fff;
	width: 115%;
}

.alerta-icono {
	content: "\f27a";
	font-family: 'Fontawesome';
	float: left;
	padding: 0px 10px 0px 0px;
	font-size: 2em;
}


.alerta-mensajes ul {
	padding: 0 0 10px 0px;
	margin: 0px;
	width: 330%;
}

.alerta-mensajes ul li:hover ul li {
	display: block;
	background-color: #fff;
	border-bottom: solid 1px #E6E6E6;
	font-weight: normal;
	box-shadow: inset 0 0 0 0 #fff;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.alerta-mensajes ul li:hover ul li:hover {
	font-weight: normal;
	color: #9F2241;
	text-decoration: none;
	box-shadow: inset 200px 0 0 0 #DDC9A3;
}

.alerta-mensajes ul li:hover ul li span {
	/*numero de alertas*/
	float: right;
	color: #fff;
	background-color: #7ACB61;
	/*verde alertas*/
	padding: 5px 5px;
	text-align: center;
	font-size: 0.8rem;
	border-radius: 3px;
	width: auto;
	margin: 0;
	border: 0;
}

 /* Perfil */
	
 .alerta-mensajes .id{
	width: 80%;
	margin: 10px 5px 0 0;
	background-color: transparent;
	align-items: center;
}

.alerta-mensajes .id ul li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 9px;
	font-size: 0.9rem;
	font-weight: normal;
	text-align: left;
	color: #98989A;
	display: inline-block;
	padding: 15px 10px;
	position: relative;
	border: 0;
	width: 100%;
	z-index: 500;
	
}

.alerta-mensajes .id ul li ul {
	display: none;
	border-bottom: solid 1px #999;
}

.alerta-mensajes .id ul li:hover {
	cursor: pointer;
	background-color: transparent;
	width: 120%;
}

.alerta-mensajes .id ul li:hover ul {
	/*caja menu alerta*/
	display: block;
	margin-top: 15px;
	left: 0;
	position: absolute;
	box-shadow: 0px 0px 7px #E6E6E6;
	padding: 10px 55px 10px 10px;
	/*padding caja menu*/
	background-color: #fff;
	width: 115%;
}


/*Buscador*/
.Hd-buscar span {
	padding: 10px 30px 10px 10px;
	margin: 10px 0px 0px 0px;
	width: 180px;
	height: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-right: 1px solid #E6E6E6;
	color: #6F7271;
}

.Hd-buscar img {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 7px #E6E6E6;
	margin-left: 5px;
}

.form__field {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 9px;
	font-size: 0.9rem;
	color: #6F7271;
	width: 100%;
	padding: 7px 0px 7px 0px;
	border: 0;
	border-bottom: 2px solid #DDC9A3;
	outline: 0;
	background: transparent;
}

.id{
	margin: 5px 0 10px 0;
}

.id li {
	width: 100%;
	align-items: center;
	text-align: center;
}

/*---------------------------------------- NAV ----------------------------------------*/

.nav-active {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
	font-size: 1.7rem;
	font-weight: 700;
	color: #235B4E;
	border-bottom: 3px solid #235B4E;
	width: 16%;
	padding: 0px 10px 6px 10px;
}

.nav {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11px;
	font-size: 1.1rem;
	font-weight: 600;
	width: 18%;
}

.underline {
	position: relative;
	padding-bottom: 9px;
}

a {
	/*+++++ No quitar*+++++*/
	color: #98989A;
	text-decoration: none;
}

a.underline {
	font-size: 10px;
	font-size: 1.0rem;
	font-weight: 600;
	text-decoration: none;
	border: 0;
	color: #98989A;
}

a:hover.underline {
	font-size: 10px;
	font-size: 1.0rem;
	font-weight: 600;
	color: #235B4E;
	text-decoration: none;
	border: 0;
}

.underline::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 3px;
	background-color: #235B4E;
	transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
	.underline:hover::before {
		left: 0;
		right: auto;
		width: 100%;
	}
}

i.nav {
	font-size: 10px;
	font-size: 1.0rem;
	padding-left: 0px;
}

.dropdown {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
	font-size: 1.0rem;
	font-weight: 600;
	position: relative;
	display: inline-block;
	width: 16%;
	padding: 15px 0px;
}

.dropdown-content {
	text-align: left;
	color: #F8F8F8;
	display: none;
	position: absolute;
	background-color: #F8F8F8;
	box-shadow: 0px 0px 7px #E6E6E6;
	margin: 10px 0px 0px 10px;
	padding: 0px 10px;
	z-index: 1500;
	min-width: 80%;
	max-width: 80%;
	align-items: flex-start;
}

li.dropdown {
	width: 100%;
	padding: 5px 0px;
	border-bottom: solid 1px #E6E6E6;
}

a.dropdown {
	width: 90%;
	border: 0px;
	padding: 10px 10px;
	text-decoration: none;
	box-shadow: inset 0 0 0 0 #BC955C;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover.dropdown {
	font-weight: 700;
	color: #9F2241;
	border: 0px;
	text-decoration: none;
	box-shadow: inset 200px 0 0 0 #BC955C;
}

i.dropdown {
	font-size: 8px;
	font-size: 0.8rem;
	padding: 0px 0px 0px 8px;
	border: 0;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*---------------------------------------- CONTENEDOR IZQUIERDO ----------------------------------------*/
		
.bg { /*div fondo*/
	background-image:url('images/proveedores_fondo_bienvenida.png');
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: top left;
	top: 0;
	width: 100%;
	bottom: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
	@media (max-width: 1200px) {
	.bg { /*div fondo*/
	background-image:url('images/proveedores_fondo_bienvenida_800.png');
	}

.login-fg {
	text-align: center;
	width: 100%;
	height: 22%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
	.login-fg {
		margin: 0;
		width: 100%;
	  }
	}
		
	@media (max-width: 800px) {
	.login-fg {
		margin: 0;
		width: 100%;
		position: absolute;
		top: 10%;
	  }
	}
/*---------------------------------------- CONTENEDOR DERECHO ----------------------------------------*/
	
		
.login { /*contenedor derecho*/
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
		
.login-section { /*contenedor registro*/
	margin: -150px 0 0 0;
	text-align: center;
	width: 100%; /*Ancho div formulario*/
	}
		
.login-section	h1 { /*Hola Proveedor*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px; font-size: 3.6rem;
	font-weight: 900;
	color: #235B4E;
	padding: 0 0 30px 0;
	}

.login-section	h2 { /*Texto bienvenida*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px; font-size: 1.2rem;
	font-weight: normal;
	color: #235B4E;
	padding: 0px 0 30px 0;
	}
		
		
		
/*---------------------------------------- FORMULARIO ----------------------------------------*/

/*FORMULARIO*/
form .acceso {
height: auto;
background-color: #fff;
padding: 0px;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

form .wrap-acceso {
	margin: 0 0 20px 10%;
	position: relative;
	}

@media screen and (max-width: 600px) {
  form .acceso {
    padding-top: 30px;
    height: 100%;
    float: none;
  }
}
form .first-row-acceso > div:first-child {
	width: 80%;
	margin: 0 0 30px 10%;
}
@media screen and (max-width: 600px) {
 	form .first-row-acceso > div:first-child {
    	float: none;
  }
}

form .first-row-acceso > div:nth-child(2) {
	width: 80%;
	margin: 0 0 30px 10%;
	float: none;
}
@media screen and (max-width: 600px) {
  form .first-row-acceso > div:nth-child(2) {
    float: none;
  }
}		

/*TEXT FIELD*/
form .first-row-acceso:after {
	content: "";
	display: table;
	clear: both;
	}

form .wrap-acceso label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 8px; font-size: 0.8rem; /*puntaje texto dentro del input inactivo*/
	color: #6F7271; /*color texto input estado inactivo*/
	font-weight: normal;
	padding: 0px 0 0 0;
	position: absolute;
	-webkit-transform: translateY(-34px);
	transform: translateY(-36px);
	left: 0px; /*padding dentro del input*/
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	/* -webkit-backface-visibility: hidden; */
	pointer-events: none;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	}
	form .wrap-acceso input { /*Estado input inactivo*/
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 10px; font-size: 1.0rem; /*puntaje texto dentro del input*/
		font-weight: 600;
		color: #235B4E; /*color texto dentro del input inactivo*/
		text-transform: uppercase;
		display: block;
		width: 100%;
		height: 100%;
		padding: 10px 0px;
		margin: 0;
		background: none;
		border: 0px;
		border-bottom: 1px solid #ccc; /*color borde input inactivo*/
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		}

form .wrap-acceso input:focus {
	outline: 0;
	border-bottom: 1px solid #ccc; /*color borde activo*/
	}

	form .wrap-acceso input:focus ~ label, form .wrap-acceso input:valid ~ label {
		-webkit-transform: translateY(-75px);
		transform: translateY(-75px);
		margin: 20px 0px 0px 0px;
		padding: 0px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 8px; font-size: 0.8rem; /*puntaje texto dentro del input*/
		font-weight: normal;
		color: #ccc; /*color label activo*/
		outline: 0;
		background-color: white;
		border-color: 0;
		width: auto;
		height: 20px;
		}
		
		i {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 10px; font-size: 1.0rem; /*puntaje icono input*/
			float: right;
			color: #98989A;
			position: absolute;
			top: 10px;
			right: 20px;
		}

		
/*Botón verde*/
.button { 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px; font-size: 1.2rem;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: #235B4E;
	padding: 5px 20px;
	margin-bottom: 20px;
	opacity: 1;
	transition: 0.3s;
	display: inline-block;
	cursor: pointer;
	float: none;
	border: none;
	border-radius: 5px;
	}

	.button:hover {
		background-color: #BC955C;
		border: 0;
		}

		
/*---------------------------------------- CHECKBOX ----------------------------------------*/

.form-container .checkbox { /*div checkbox / recuperar contraseña*/
	margin: 0% 0 10% 5%;
	}
	.form-container .form-check {
		float: left;
		margin-bottom: 0;
		width: 88%;
		}
		
		.recordarCredenciales { /*div recordar credenciales*/
			float: left;
			}

		.olvidePass { /*div olvidé contraseña*/
			float: right;
			}		
		
	.form-container .form-check-input {
		position: absolute;
		margin-left: 0;
		}
		
	.form-container .form-check label::before {
		content: "";
		display: inline-block;
		position: absolute;
		width: 18px;
		height: 18px;
		top: 2px;
		margin-left: -25px;
		border: none;
		border-radius: 3px;
		background: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
		}
	.form-container .form-check-label { /*etiqueta checkbox*/
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 8px; font-size: 0.8rem;
		font-weight: 600;
		color: #98989A;
		padding-left: 25px;
		margin-bottom: 0;
		}
		
	.form-container .checkbox-fg input[type="checkbox"]:checked + label::before {
		color: #DDC9A3;
		background: #235B4E;
		}
	.form-container input[type="checkbox"]:checked + label:before {
		content: "\f00c";
		font-family: 'Fontawesome';
		font-weight: 300;
		color: #DDC9A3;
		line-height: 17px;
		}
	.form-container input[type="checkbox"],
		input[type="radio"] {
		margin-top: 4px;
		}

	.form-container .checkbox a { /*¿Olvidaste tu contraseña?*/
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 8px; font-size: 0.8rem;
		color: #235B4E;
		font-weight: 600;
		float: left;
		}

	.form-container .checkbox a:hover { /*¿Olvidaste tu contraseña?*/
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 8px; font-size: 0.8rem;
		color: #BC955C;
		float: right;
		}
		
		
.login-section p { /*Texto ¿Aún no tienes cuenta en el Padrón de Proveedores?*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 8px; font-size: 0.8rem;
	color: #6F7271;
	margin: 0;
	padding: 0;
	}
	.login-section p a { /*Botón Crear cuenta*/
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 9px; font-size: 0.9rem;
		color: #235B4E;
		font-weight: 600;
		}
	.login-section p a:hover { /*¿Olvidaste tu contraseña?*/
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 9px; font-size: 0.9rem;
		color: #BC955C;
		}
		
/*---------------------------------------- FOOTER ----------------------------------------*/
		
.masInfo {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px; font-size: 1.6rem;
	font-weight: normal;
	color: #235B4E;
	text-align: center;
	margin:0;
	width: 100%;
	height: 15%;
	position: fixed;
	bottom: 0;
	background-color: #F8F4ED;
	}

	.info-footer { /*DIV footer texto y botón*/
		text-align: center;
		width: 50%;
		height: 22%;
		margin: 0px 0 0 5%;
		display: flex;
		align-items: center;
		justify-content: center;
		}
		
		.masInfo .info-footer p { /*Texto Administradores y URGs*/
		width: 90%;
		margin-top: 13%;
		}
	.masInfo .info-footer p a { /*Acceso único liga*/
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px; font-size: 1.6rem;
		font-weight: 700;
		color: #9F2241;
		}
	.masInfo .info-footer p a:hover { /*Acceso único liga*/
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px; font-size: 1.6rem;
		font-weight: 700;
		color: #235B4E;
		}
		.conocerMas { /*DIV Conocer más sobre el proyecto*/
			background-image:url('images/bg_espigas_vino.png');
			background-size: contain; 
			background-repeat: no-repeat;
			background-position: top right;
			text-align: left;
			font-weight: 900;
			color:#fff;
			margin-top: -10px;
			padding: 5px 20px;
			background-color: #9F2241;
			width: 33%;
			float: right;
			border-radius: 30px 0 0 30px;
			box-shadow: 0px 3px 5px #98989A;
			}
				.conocerMas a { /*Acceso único liga*/
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 16px; font-size: 1.6rem;
					font-weight: 700;
					color: #fff;
					}
				.conocerMas a:hover { /*Acceso único liga*/
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 16px; font-size: 1.6rem;
					font-weight: 700;
					color: #DDC9A3;
					}
	
